In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('/media/drsleep/Windows/Users/NekrasovV/Documents/bnb/bnk/data_scripts/src_prod/')

In [3]:
from target_pred import XGBoostModel, FCModel, HypeNKFoldCV, targetEncoding, KFoldTargetEncoding
from target_pred import create_sets, binning

/home/drsleep/.local/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
from sklearn.metrics import f1_score
import pandas as pd
import numpy as np

In [5]:
from collections import defaultdict
from tqdm import tqdm
import re

In [6]:
train_file_path = '../../Downloads/train.csv'
test_file_path = '../../Downloads/test.csv'
train_df = pd.read_csv(train_file_path)
test_df = pd.read_csv(test_file_path)
subm_df = pd.read_csv('../../Downloads/gender_submission.csv')

In [7]:
sep = ','
ignore_cols_dummy = ['Survived']#['Age', 'Pclass', 'Survived',
                     #'SibSp', 'Parch', 'Sex', 'Embarked']
ignore_cols_norm = ['Age', 'Pclass', 'Survived',
                    'SibSp', 'Parch', 'Sex', 'Cabin', 'Embarked']
ignore_cols_binning = ['Pclass', 'Survived',
                       'Parch']
drop_cols = ['PassengerId', 'Name', 'Ticket', 'Cabin']
dummy_config = None#(40, 0.9)
fill_na = False
scaler = 'standard'
n_bins = 0

In [8]:
train_Xy, _, t_dict, n_dict, b_dict = create_sets(train_file_path,
                                                  sep,
                                                  ignore_cols_dummy=ignore_cols_dummy,
                                                  ignore_cols_norm=ignore_cols_norm,
                                                  ignore_cols_binning=ignore_cols_binning,
                                                  drop_cols=drop_cols,
                                                  dummy_config=dummy_config,
                                                  fill_na=fill_na,
                                                  scaler=scaler,
                                                  n_bins=n_bins,
                                                  transform_dict=None,
                                                  normalise_dict=None,
                                                  binning_dict=None,
                                                  test_size=0,
                                                  trn_ids=None,
                                                  tst_ids=None,
                                                  seed=42,
                                                  verbose=True)

PROCESSING NUMERIC COLUMN : Age
***************
PROCESSING OBJECT COLUMN : Embarked
***************
PROCESSING NUMERIC COLUMN : Fare
***************
PROCESSING NUMERIC COLUMN : Parch
***************
PROCESSING NUMERIC COLUMN : Pclass
***************
PROCESSING OBJECT COLUMN : Sex
***************
PROCESSING NUMERIC COLUMN : SibSp
***************
NORMALISING COLUMN : Fare
***************

In [9]:
binning_columns = dict(Pclass= 3,
                       Sex=2, 
#                       'Cabin' = 15, 
                       Embarked=3,
                       Age=5,
                       SibSp=3,
                       Parch=4)
b_dict = dict()
b_dict['cols'] = list()
for c_, nbins in binning_columns.iteritems():
    b_dict[c_] = dict()
    c_binned = '_'.join([c_, 'BINNED'])
    bin_out = binning(train_Xy[[c_]], [], [], nbins)
    train_Xy[c_binned] = bin_out[0][c_binned]
    b_dict[c_]['binning'] = bin_out[1][c_]['binning']
    b_dict['cols'].append(c_)

In [10]:
binned_columns = filter(lambda x: 'BINNED' in x, train_Xy.columns)

In [ ]:
n_trials = 20
n_folds = 5
k_folds = 5

param_dict = defaultdict(list)

for i in tqdm(range(n_trials)):
    alpha = np.random.uniform(low=8, high=12)
    noise_std = 0.000695
    n_estimators = np.random.randint(low=40, high=200)
    subsample = np.random.uniform(low=0.7, high=0.9)
    reg_lambda = np.random.uniform(low=400, high=600)
    reg_alpha = np.random.uniform(low=1, high=4)
    
    c_config = dict(n_estimators=n_estimators,
                    subsample=subsample,
                    reg_alpha=reg_alpha,
                    reg_lambda=reg_lambda)
    c_model = XGBoostModel(c_config)
    
    val_preds = HypeNKFoldCV(train_Xy,
                             binned_columns,
                             'Survived',
                             c_model,
                             n_folds,
                             k_folds,
                             alpha,
                             noise_std,
                             f1_score)
    
    param_dict['alpha'].append(alpha)
    param_dict['n_estimators'].append(n_estimators)
    param_dict['subsample'].append(subsample)
    param_dict['reg_lambda'].append(reg_lambda)
    param_dict['reg_alpha'].append(reg_alpha)
    param_dict['val_scores'].append(val_preds)

  5%|â–Œ         | 1/20 [03:02<57:52, 182.79s/it]

In [174]:
param_df = pd.DataFrame(param_dict)
param_df['mean_fscore'] = param_df['val_scores'].apply(np.mean)
param_df['std_fscore'] = param_df['val_scores'].apply(np.std)

In [175]:
param_df.drop('val_scores', axis=1).sort_values('mean_fscore', ascending=False)

,alpha,n_estimators,reg_alpha,reg_lambda,subsample,mean_fscore,std_fscore
8,10.463191,51,2.357851,420.407894,0.856226,0.742129,0.036746
18,11.233565,103,2.022113,493.434795,0.880547,0.740987,0.027723
3,8.942441,170,1.139513,452.500741,0.885678,0.737132,0.048444
1,8.963807,192,2.531458,494.940762,0.832384,0.735543,0.046687
15,8.491863,73,3.030954,549.521227,0.810607,0.732340,0.022944
9,8.115125,102,1.363317,584.950852,0.777973,0.732281,0.043791
14,10.897169,169,1.529125,508.689598,0.839359,0.731547,0.064999
12,8.933435,41,2.775824,481.029695,0.835395,0.727589,0.029451
13,10.231624,64,3.495297,548.871192,0.843158,0.727540,0.058055
0,10.655081,177,1.286019,461.526624,0.789688,0.724176,0.041546
17,9.324513,49,1.098907,585.526243,0.729092,0.723928,0.045568
6,9.084757,87,3.607049,419.334876,0.750371,0.721023,0.066642
10,10.654351,73,2.769796,563.343164,0.783155,0.720066,0.051590
11,10.630092,142,1.813159,408.169241,0.704921,0.719347,0.032375
2,9.559418,105,2.327577,588.025965,0.758041,0.717558,0.035053
5,8.900837,69,3.256866,435.902301,0.734816,0.717502,0.018122
7,11.891728,127,2.071348,524.818133,0.872423,0.716626,0.047349
19,8.498296,41,3.035654,513.215430,0.766545,0.713944,0.037019
4,11.979627,102,2.452410,493.902684,0.871556,0.712315,0.010736
16,8.844987,106,3.061178,468.484620,0.886109,0.693280,0.064723

In [80]:
c_config = dict(n_estimators=189,
                subsample=0.735415,
                reg_alpha=2.226419,
                reg_lambda=157.848705)

In [81]:
c_model_orig = XGBoostModel(c_config)
c_model_orig.train(train_Xy.drop(binned_columns + ['Survived'], axis=1),
                   train_Xy.Survived)

In [87]:
np.mean((c_model_orig
         .test(train_Xy.drop(binned_columns + ['Survived'], axis=1))).argmax(axis=1) == train_Xy.Survived)

0.83613916947250277

In [82]:
f1_score(c_model_orig
         .test(train_Xy.drop(binned_columns + ['Survived'], axis=1))
         .argmax(axis=1), train_Xy.Survived)

0.77115987460815039

In [89]:
target_col = 'Survived'
for c_ in binned_columns:
    idx = train_Xy.index.values.copy()
    np.random.shuffle(idx)
    inner_splits = np.array_split(idx, n_folds)
    new_col_name = '_'.join([c_, target_col])
    train_Xy[new_col_name] = KFoldTargetEncoding(train_Xy[[c_, target_col]],
                                                 inner_splits,
                                                 c_,
                                                 target_col,
                                                 new_col_name,
                                                 alpha=6.307942,
                                                 noise_std=noise_std)

In [92]:
c_config = dict(n_estimators=189,
                subsample=0.735415,
                reg_alpha=2.226419,
                reg_lambda=357.848705)

c_model_orig = XGBoostModel(c_config)
c_model_orig.train(train_Xy.drop(['Survived'], axis=1),
                   train_Xy.Survived)

In [125]:
b_dict['SibSp']

{'binning': <target_pred.utils.LabelBinning instance at 0x7f85a2fd8128>}

In [131]:
## prepare test
test_X, _, _, _, _ = create_sets(test_file_path,
                                                  sep,
                                                  ignore_cols_dummy=ignore_cols_dummy,
                                                  ignore_cols_norm=ignore_cols_norm,
                                                  ignore_cols_binning=ignore_cols_binning,
                                                  drop_cols=drop_cols,
                                                  dummy_config=dummy_config,
                                                  fill_na=fill_na,
                                                  scaler=scaler,
                                                  n_bins=1,
                                                  transform_dict=t_dict,
                                                  normalise_dict=n_dict,
                                                  binning_dict=None,
                                                  test_size=0,
                                                  trn_ids=None,
                                                  tst_ids=None,
                                                  seed=42,
                                                  verbose=True)

PROCESSING NUMERIC COLUMN : Age
***************
PROCESSING OBJECT COLUMN : Embarked
***************
PROCESSING NUMERIC COLUMN : Fare
***************
PROCESSING NUMERIC COLUMN : Parch
***************
PROCESSING NUMERIC COLUMN : Pclass
***************
PROCESSING OBJECT COLUMN : Sex
***************
PROCESSING NUMERIC COLUMN : SibSp
***************
NORMALISING COLUMN : Fare
***************

In [159]:
binning_columns = dict(Pclass= 3,
                       Sex=2, 
#                       'Cabin' = 15, 
                       Embarked=3,
                       Age=5,
                       SibSp=3,
                       Parch=4)

for c_, nbins in binning_columns.iteritems():
    c_binned = '_'.join([c_, 'BINNED'])
    bin_out = binning(test_X[[c_]], [], [], nbins, b_dict, verbose=False)
    test_X[c_binned] = bin_out[0][c_binned]

In [160]:
train_Xy.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,SibSp_BINNED,Embarked_BINNED,Age_BINNED,Parch_BINNED,Pclass_BINNED,Sex_BINNED
0,0,3,1,22.0,1,0,-0.502445,1,1,0,1.0,0,1,0
1,1,1,2,38.0,1,0,0.786845,2,1,1,3.0,0,0,1
2,1,3,2,26.0,0,0,-0.488854,1,0,0,1.0,0,1,1
3,1,1,2,35.0,1,0,0.420730,1,1,0,3.0,0,0,1
4,0,3,1,35.0,0,0,-0.486337,1,0,0,3.0,0,1,0

In [161]:
test_X.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,SibSp_BINNED,Embarked_BINNED,Age_BINNED,Parch_BINNED,Pclass_BINNED,Sex_BINNED
0,3,1,34.5,0,0,-0.490783,3,0,1,3.0,0,1,0
1,3,2,47.0,1,0,-0.507479,1,1,0,4.0,0,1,1
2,2,1,62.0,0,0,-0.453367,3,0,1,4.0,0,0,0
3,3,1,27.0,0,0,-0.474005,1,0,0,1.0,0,1,0
4,3,2,22.0,1,1,-0.401017,1,1,0,1.0,1,1,1

In [163]:
for c_ in binned_columns:
    new_col_name = '_'.join([c_, target_col])
    test_X[new_col_name] = targetEncoding(train_Xy[[c_, target_col]],
                                          test_X[[c_]],
                                          c_,
                                          target_col,
                                          alpha=6.307942,
                                          noise_std=noise_std)

In [164]:
test_preds = c_model_orig.test(test_X)

In [167]:
subm_df['Survived'] = test_preds.argmax(axis=1)

In [168]:
subm_df.to_csv('preds_binned_hype.csv', index=False)

In [1]:
650*76.5

49725.0